/*-- scss:rules --*/

// Style for collapsible headers
.section-header {
  cursor: pointer;
  position: relative;
  padding-right: 25px;
}
.section-header::after {
  content: "▼";
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section-header.collapsed::after {
  content: "►";
}

// Teaching button in dark mode
.btn-primary {
  background-color: #2aa198 !important;
  border-color: #2aa198 !important;
  color: #fff !important;
}
.btn-primary:hover {
  background-color: #218f88 !important;
  border-color: #218f88 !important;
  color: #fff !important;
}